.main-nav {
  position: relative;
  z-index: 2;
  text-align: center;
}

.main-nav__container {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-nav__toggle {
  position: absolute;
  top: -40px;
  right: 0;
  z-index: 2;
  display: block;
  width: 50px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__burger {
  width: 50px;
  height: 24px;
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: -44px;
  right: 20px;
  z-index: 2;

  width: 50px;
  height: 24px;

  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

.main-nav--closed .main-nav__cross {
  display: none;
}

.main-nav--opened .main-nav__cross {
  width: 24px;
  height: 23px;
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  top: -44px;
  right: 20px;
  z-index: 2;

  width: 24px;
  height: 23px;

  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

.main-nav--opened .main-nav__burger {
  display: none;
}

.main-nav__toggle:focus {
  outline: 3px solid pink;
}

.main-nav__toggle .main-nav__burger,
.main-nav__toggle .main-nav__cross {
  cursor: pointer;
  fill: $fn-grey-dark;

  &:hover {
    fill: #d22856;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__container {
    width: 620px;
  }

  .main-nav--closed .main-nav__toggle,
  .main-nav--opened .main-nav__toggle {
    top: -48px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    display: block;
    position: relative;
    z-index: 1;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: $desktop-little-width) {
  .main-nav {
    padding: 32px 0 24px;
  }

  .main-nav__container {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding: 32px 0 24px;
  }

  .main-nav__container {
    display: none;
  }
}
