.slider {
  min-height: 220px;
}

.slider__active {
  width: 100%;
  min-height: 220px;
  position: absolute;
  overflow: hidden;
  user-select: none;
}

.slider__arrow-left,
.slider__arrow-right {
  z-index: 1;
  position: absolute;
  content: "";
  top: 150px;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  background: $bg-white;
  border: none;

  &:hover,
  &:focus {
    outline: 2px solid $bg-pink;
  }
}

.slider__arrow-left {
  left: 0;

  &::before {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 24px;
    height: 24px;
    content: url("../img/icon-left.svg");
  }
}

.slider__arrow-right {
  right: 0;

  &::before {
    position: absolute;
    top: 4px;
    right: 5px;
    width: 24px;
    height: 24px;
    content: url("../img/icon-right.svg");
  }
}

.slider__wrap {
  position: absolute;
  width: calc(100% * 4);
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  transition: 2s;
  transition-timing-function: ease-in-out;
}

.slide {
  width: calc(100%/4);
  list-style: none;
  display: inline;
  float: left;
}

.slide img {
  width: 100%;
  min-height: 220px;
}

@media (min-width: $desktop-little-width) {
  .slider {
    min-height: 512px;
  }

  .slider__active {
    min-height: 512px;
  }

  .slider__arrow-left,
  .slider__arrow-right {
    top: 290px;
    width: 52px;
    height: 52px;

    &::before {
      top: 15px;
    }
  }

  .slider__arrow-left {
    &::before {
      left: 13px;
    }
  }

  .slider__arrow-right {
    &::before {
      right: 13px;
    }
  }

  .slide img {
    min-height: 512px;
  }
}

@media (min-width: $desktop-width) {
  .slider__arrow-left,
  .slider__arrow-right {
    top: 220px;
    width: 72px;
    height: 72px;
  }

  .slider__arrow-left,
  .slider__arrow-right {
    &::before {
      top: 25px;
    }
  }

  .slider__arrow-left {
    &::before {
      left: 20px;
    }
  }

  .slider__arrow-right {
    &::before {
      right: 20px;
    }
  }
}
