$fn-grey-dark: #373b52;
$fn-grey-light: #9a9eb8;
$fn-light: #f5f5fa;
$fn-red: #f51d57;
$bg-pink: pink;
$fn-size10: 10px;
$fn-size12: 12px;
$fn-size16: 16px;
$fn-size24: 24px;
$fn-size40: 40px;
$fn-weight-semi: 600;
$fn-weight-extra: 800;
$fn-name: montserrat;
$cl-grey: #e1e2eb;
$bg-white: #ffffff;
$mobile-width-only: 959px;
$tablet-width: 660px;
$desktop-little-width: 960px;
$desktop-width: 1280px;

