$fn-grey-dark: #373B52;
$fn-grey-light: #9A9EB8;
$fn-light: #F5F5FA;
$fn-red: #F51D57;
$fn-size12: 12px;
$fn-size16: 16px;
$fn-weight-semi: 600;
$fn-weight-extra: 800;
$fn-name: Montserrat;
$cl-grey: #E1E2EB;
$bg-white: #FFFFFF;
$mobile-width-only: 959px;
$tablet-width: 660px;
$desktop-little-width: 960px;
$desktop-width: 1280px;

